body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.deckster-deck {
    height: 600px;
    border: 1px solid black;
    display: block;
}

.deckster-title {
    background: #ddddff;
}

.deckster-card {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: 5px;
    float: left;
}